In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [2]:
#Reading the dataset

Ed=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')
Ed.head(5)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
#Viewing Columns In the DataSet

Ed.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [4]:
#Dropping Columns not needed Asides T2 and T6

X = Ed.drop(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'], axis= "columns") # droping the label variable (tip) from the data

y = Ed["T6"]
y,X

(0         7.026667
 1         6.833333
 2         6.560000
 3         6.433333
 4         6.366667
            ...
 19730    24.796667
 19731    24.196667
 19732    23.626667
 19733    22.433333
 19734    21.026667
 Name: T6, Length: 19735, dtype: float64,
               T2
 0      19.200000
 1      19.200000
 2      19.200000
 3      19.200000
 4      19.200000
 ...          ...
 19730  25.890000
 19731  25.754000
 19732  25.628571
 19733  25.414000
 19734  25.264286

 [19735 rows x 1 columns])

In [9]:
E = pd.get_dummies(X)
E

              T2
0      19.200000
1      19.200000
2      19.200000
3      19.200000
4      19.200000
...          ...
19730  25.890000
19731  25.754000
19732  25.628571
19733  25.414000
19734  25.264286

[19735 rows x 1 columns]

In [17]:
#Importing Sklearn and training and testing datasets

from sklearn import metrics # For model evaluation
from sklearn.model_selection import train_test_split
E_train, E_test, y_train, y_test = train_test_split(E, y, test_size = 0.2, random_state= 1234)

In [18]:
#Linear Regression

# Fitting Linear Regression to the Training set

from sklearn.linear_model import LinearRegression

Output = LinearRegression()

Output.fit(E_train, y_train)

LinearRegression()

In [21]:
#Predicted Values

Output.predict(E_test)

array([13.35663704, 13.31661865,  0.92870546, ...,  1.59567854,
        5.79760889,  6.68690632])

In [22]:
#Attaching Predicted Values To a variable

OutputLM_prediction = Output.predict(E_test)

In [23]:
y_test - OutputLM_prediction

13095    4.010030
18136    4.943381
7721     0.971295
9755     3.608051
4134    -2.487734
           ...
6998    -0.954352
16620   -0.717031
2515     1.567655
15864    0.944891
7541    -3.549763
Name: T6, Length: 3947, dtype: float64

In [24]:
#NUMBER 12
#R-Squared value

from sklearn.metrics import r2_score
r2_score = r2_score(y_test, OutputLM_prediction)
round(r2_score, 2)

0.64

In [25]:
#NUMBER 13
#Normalizeing the dataset using the MinMaxScaler

from sklearn.preprocessing import MinMaxScaler
Ed_to_scale = Ed.drop(columns= ['date', 'lights'])

#scaling the data using MinMaxScaler 
scaler = MinMaxScaler()
scaled_df = pd.DataFrame(scaler.fit_transform(Ed_to_scale), columns=Ed_to_scale.columns)

# assigning datasets to my predictor and target
predictor_df = scaled_df.drop(columns=['Appliances'])
target_df = scaled_df['Appliances']

In [28]:
#Training and testing datasets 

E_train, E_test, y_train, y_test = train_test_split(predictor_df, target_df, train_size = 0.7, test_size = 0.3, random_state= 42)

from sklearn.linear_model import LinearRegression

Output1 = LinearRegression()

Output1.fit(E_train, y_train)

LinearRegression()

In [29]:
#Predicted Values

Output1.predict(E_test)

array([0.03322207, 0.24411599, 0.03400024, ..., 0.06844707, 0.10032325,
       0.05722198])

In [30]:
#Attaching Predicted Values To a variable

OutputLM1_prediction = Output1.predict(E_test)

In [31]:
#NUMBER 13
#Mean Absolute Error

from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, OutputLM1_prediction)
round(mae, 2)

0.05

In [38]:
#Number14
#Residual Sum of Squares

rss = np.sum(np.square(y_test -OutputLM1_prediction))
round(rss, 2)

45.35

In [39]:
#Number15
#Root Mean Squared Error

from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, OutputLM1_prediction))
round(rmse, 3)

0.088

In [40]:
#Number16
#Coefficient of Determination

from sklearn.metrics import r2_score
r2_score = r2_score(y_test, OutputLM1_prediction)
round(r2_score, 2)

0.15

In [46]:
#Number17
#feature weights from linear model

from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

def get_weights_df(model, feat, col_name):
    #this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df


linear_model_weights = get_weights_df(Output1, E_train,
                                      'Linear_Model_Weight')
linear_model_weights

       Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

In [50]:
#Number18
#Training a ridge regression model with an alpha value of 0.4. to determine the root mean squared error (RMSE) 

ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(E_train, y_train)
pred_ridge = ridge_reg.predict(E_test)

rmse = np.sqrt(mean_squared_error(y_test, pred_ridge))
round(rmse, 3)

0.088

In [48]:
#Number19
#Training a lasso regression model with an alpha value of 0.001 to obtain the new feature weights with it.
#And determine How many of the features have non-zero feature weights

lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(E_train, y_train)
lasso_pred = lasso_reg.predict(E_test)

lasso_weights_df = get_weights_df(lasso_reg, E_train, 'Lasso_weight')
lasso_weights_df

       Features  Lasso_weight
0        RH_out     -0.049557
1          RH_8     -0.000110
2            T1      0.000000
3     Tdewpoint      0.000000
4    Visibility      0.000000
5   Press_mm_hg     -0.000000
6         T_out      0.000000
7          RH_9     -0.000000
8            T9     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5     -0.000000
16         RH_4      0.000000
17           T4     -0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21           T2      0.000000
22         RH_6     -0.000000
23          rv2     -0.000000
24    Windspeed      0.002912
25         RH_1      0.017880

In [51]:
#Number20
#Determining the RMSE with the lasso regression

rmse = np.sqrt(mean_squared_error(y_test, lasso_pred))
round(rmse, 3)

0.094